# =============================
# Python virtual environments
# =============================
.venv/
.venv_ydata/
env/
venv/

# =============================
# Python cache
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================
# OS files
# =============================
.DS_Store
Thumbs.db

# =============================
# ML Artifacts
# =============================
src/mlops_tp/artifacts/*.joblib
src/mlops_tp/artifacts/*.html
src/mlops_tp/artifacts/*.pkl

# Large reports
eda_report_full.html

# =============================
# IDE
# =============================
.vscode/
.idea/

# =============================
# Docker (optional)
# =============================
*.log